---
init: notes
---
<section class="section util">
{{#if extension}}
	<div class="secondary-nav center">
		<a class="waves-effect waves-light btn center blue-grey" href="./getting-started.html">Get Started</a>
		<a class="waves-effect waves-light btn blue-grey smoothscroll" href="#calendar">Calendar</a>
		<a class="waves-effect waves-light btn blue-grey smoothscroll" href="#help">Helpful Links</a>
		<a class="waves-effect waves-light dropdown-button btn blue-grey" href="#" data-activates="extras-dropdown"><i class="material-icons">today</i></a>
		<a class="waves-effect waves-light dropdown-button btn blue-grey" href="./settings.html" target="_blank"><i class="material-icons">settings</i></a>
	</div>
	<ul id='extras-dropdown' class='dropdown-content white-text'>
		<li><a href="./chem.html">Chemistry</a></li>
		<li><a href="./physics.html" target="_blank">Physics</a></li>
		<li><a href="https://chrome.google.com/webstore/detail/planview/ahdmabmmnnkachilcgkacffibgbgfoln" target="_blank">Chrome</a></li>
		<li class="divider"></li>
	</ul>
{{else}}
	<div class="secondary-nav center">
		<a class="waves-effect waves-light btn center blue-grey" href="./getting-started.html">Get Started</a>
		<a class="waves-effect waves-light dropdown-button btn blue-grey" href="./settings.html"><i class="material-icons">settings</i></a>
	</div>
{{/if}}
</section>
<section class="section notes-container">
	<h5 class="white-text center decorated">Notes</h5>
	<div class="notes section">{{#each order}}
		<div class="row no-pad">{{#each this}}
			<div class="col s12 m6" id="block-{{this}}">
				<div class="card {{indexClass this}} darken-3 z-depth-5">
					<div class="card-content">
						<p class="card-title"><strong>{{addPrefix this}}</strong><a href="" class="email {{indexTextClass this}}" id="block-{{this}}-email"><span class="right material-icons">email</span></a></p>
						<form class="row">
							<div class="input-field col s12">
								<textarea id="block-{{this}}-notes" class="materialize-textarea" data-block="{{this}}"></textarea>
								<label for="block-{{this}}-notes" class="{{indexTextClass this}}">Notes</label>
							</div>
						</form>
						<a class="waves-effect waves-grey white-text btn-save" data-block="{{this}}">Save Note</a>
					</div>
				</div>
			</div>{{/each}}
		</div>{{/each}}
	</div>
</section>
{{#if extension}}
<section class="section calendar">
	<h5 class="white-text center decorated">Calendar</h5>
	<div id="calendar"></div>
</section>
<section class="section help" id="help">
	<h5 class="white-text center decorated">Helpful Links</h5>
	<div class="carousel">
		<a target="_blank" class="carousel-item" href="https://accesscenter.roundrockisd.org/HomeAccess/Account/LogOn?ReturnUrl=%2fHomeAccess%2fClasses%2fClasswork#q_login_nows"><img src="./assets/img/qHAC.png"></a>
		<a target="_blank" class="carousel-item" href="https://www.khanacademy.org/"><img src="./assets/img/khan.jpg"></a>
		<a target="_blank" class="carousel-item" href="http://demo.tutorialzine.com/2015/04/material-design-stopwatch-alarm-and-timer/"><img src="./assets/img/clock.jpg"></a>
		<a target="_blank" class="carousel-item" href="https://classroom.google.com/h"><img src="./assets/img/g_class.jpg"></a>
		<a target="_blank" class="carousel-item" href="https://chrome.google.com/webstore/category/apps"><img src="./assets/img/chromeweb.png"></a>
		<a target="_blank" class="carousel-item" href="https://quizlet.com/latest"><img src="./assets/img/quizlet.jpg"></a>
		<a target="_blank" class="carousel-item" href="https://keep.google.com/"><img src="./assets/img/keep.jpg"></a>
		<a target="_blank" class="carousel-item" href="https://drive.google.com/drive/my-drive"><img src="./assets/img/g_drive.jpg"></a>
	</div>
</section>
{{/if}}